<section class="mt-1 mb-auto" id="educacion">
    <div class="container-auto">
      <h2 class="section_banner border border-secondary border-3">Educación</h2>
    </div>
</section>
    <!--UNAB-->
    
    <article class="container mt-4 mb-4 border border-2" *ngFor="let edu of educacionList">
      <div class="row align-items-center justify-content-center">
        <div class="col-4"><img [src]="edu.logo" 
         [style]="edu.colorfondo" class='img-fluid'
             width="200" height="auto"></div>
        <div class="col-xl-6">
          <h2>{{edu.titulo}}</h2>
          <h3>{{edu.Universidad}}</h3>
          <h4>{{edu.comienzo}} - {{edu.finalizo}}</h4>
          <h4>{{edu.anioCursando}}</h4>
        </div>
      </div>

    </article>

    <!--UNAJ-->
    
   
 
  <span class="icono2"><a href="#" class="color-iconos"><i class="bi bi-pencil m-3"></i><i class="bi bi-x-square m-3"></i></a></span>
