<section class="mt-1 mb-auto " id="hardandsoftskills">
    <div class="container-auto border border-secondary border-3">
      <h2 class="section_banner">Hard And Soft Skills</h2>
    </div>
  

  
    <article class="container mt-3">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-4">
          <h3 class="">Dominio de tecnologías</h3>
        </div>
        <div class="col">
          <article class="barra90"></article>
        </div>
      </div>
    </article>

    <article class="container mt-3">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-4">
          <h3 class="">Resolución de problemas</h3>
        </div>
        <div class="col">
          <article class="barra75"></article>
        </div>
      </div>
    </article>

    <article class="container mt-3">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-4">
          <h3 class="">Diseño Visual</h3>
        </div>
        <div class="col">
          <article class="barra50"></article>
        </div>
      </div>
    </article>

    <article class="container mt-2 mb-4">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-4">
          <h3 class="">Trabajo en equipo</h3>
        </div>
        <div class="col">
          <article class="barra60"></article>
        </div>
      </div>
    </article>
    
  </section>

  <span class="icono2"><a href="#" class="color-iconos"><i class="bi bi-pencil m-3"></i><i class="bi bi-x-square m-3"></i></a></span>

 