<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="card mb-3 ju mt-2" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.ibb.co/t3SPwCy/2021-07-argentina-programa-jumbotron-1-1.jpg" class="img-fluid rounded-start "
              alt="Argentina Programa Logo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Argentina Programa <br>#YoProgramo</p>
            </div>
          </div>
        </div>
      </div>
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Accesos de Interes</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- Accesos rápidos-->
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li><a class="dropdown-item" href="#">Home</a></li>
            <li><a class="dropdown-item" href="#acerca_de...">Acerca de...</a></li>
            <li><a class="dropdown-item" href="#experiencia">Experiencia</a></li>
            <li><a class="dropdown-item" href="#educacion">Educación</a></li>
            <li><a class="dropdown-item" href="#hardandsoftskills">Hard And Soft Skills</a></li>
            <li><a class="dropdown-item" href="#proyectos">Proyectos</a></li>
            <!--Boton de logeo-->
            <li class="nav-item">
              <button type="button" class="btn btn-primary">Login</button>
            </li>

            <!-- Redes Sociales-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Redes Sociales
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="https://www.instagram.com/amslex/?hl=es"
                    target="_blank">Instagram</a></li>
                <li><a class="dropdown-item" href="https://www.facebook.com/profile.php?id=100002207445552"
                    target="_blank">Facebook</a></li>
                <li><a class="dropdown-item" href="https://twitter.com/Lexis93S" target="_blank">Twitter</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>