<section id="acerca_de...">
    <article>
      <div class="container mt-5">
        <div class="row align-items-center justify-content-center">
          <div class="col-6"><img [src]="miPortfolio.miFoto" alt="Mi Foto" class="img-thumbnail" width="500"></div>
          <div class="col-xl-6 pb-5">
            <h2 class="mt-5 display-3">{{miPortfolio.nombre}}</h2>
            <h3 class="display-4">{{miPortfolio.titulo}}
              <hr>
            </h3>
            <h4 class="display-5">{{miPortfolio.sobreMi}}</h4>
          </div>
        </div>
      </div>
    </article>
    
  </section>

  <span class="icono2"><a href="#" class="color-iconos"><i class="bi bi-pencil m-3"></i><i class="bi bi-x-square m-3"></i></a></span>