<section class="mt-1 mb-2" id="experiencia">
    <div class="container-auto">
      <h2 class="section_banner border border-secondary border-3">Experiencia</h2>
    </div>






    <!--Accenture-->
    <article class="container border mt-4 border-2" *ngFor="let exp of experienciaList">
      <div class="row align-items-center justify-content-center">
        <div class="col-4"><img [src]="exp.imagenEmpresa" [style]="exp.colorFondo" class='img-fluid' alt="Accenture Logo" width="200"
            height="auto"></div>
        <div class="col-xl-6">
          <h2>{{exp.empresa}}</h2>
          <h3>{{exp.empresa}} - {{exp.modoDeTrabajo}}</h3>
          <h4>{{exp.comienzo}} - {{exp.finalizo}}</h4>
          <h4>{{exp.direccion}}</h4>
        </div>
      </div>
    </article>

  </section>

    
  <span class="icono2"><a href="#" class="color-iconos"><i class="bi bi-pencil m-3"></i><i class="bi bi-x-square m-3"></i></a></span>