<section class="mt-1" id="proyectos">
    
    <header class="container-auto">
      <h2 class="section_banner border border-secondary border-3">Proyectos</h2>
    </header>

    <article class="container mt-4">
      <div class="row position-relative ">
        <div class="col-xl-4 mb-2">
          <div class="card">
            <a href="https://codepen.io/alexis-saucedo/pen/NWaLMRL" target="_blank">
            <img src="https://i.ibb.co/Pxp1HkP/P-gina-instructivo.png" class="card-img-top" alt="...">
            </a>
            <div class="card-body item">
              <p class="card-text">Página instructiva sobre HTML, CSS y Flex</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 mb-2">
          <div class="card">
            <a href="https://codepen.io/alexis-saucedo/pen/dyVKqGZ" target="_blank">
              <img src="https://i.ibb.co/Bt0cd9Z/P-gina-tributo.png" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <p class="card-text">Página Tributo Tengen Toppa Guren Lagan</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card mb-2">
            <a href="https://codepen.io/alexis-saucedo/pen/MWEBZGw" target="_blank">
            <img src="https://i.ibb.co/BZQ4L2W/Encuesta-educativa.png" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <p class="card-text">Encuesta educativa</p>
            </div>
          </div>
        </div>
      </div>

    </article>


  </section>
  <span class="icono2"><a href="#" class="color-iconos"><i class="bi bi-pencil m-3"></i><i class="bi bi-x-square m-3"></i></a></span>